<div class="card bg-dark text-white">
  <img 
    src="./assets/img/profit-calculator.png"
    class="img"
    alt="..."
  />
  <div class="hero card-img-overlay">
    <h5 class="card-title">{{hero.title}}</h5>
    <h1 class="card-text">{{hero.content}}</h1>
    <p class="card-text">
      {{hero.content1}}
    </p>
    <p class="card-text">Last updated 3 mins ago</p>
    <button mat-raised-button>{{hero.button}}</button>
  </div>
</div>




<!-- Jumbotron -->
<!-- <div class=" p-5 text-center bg-gradient">
  <h1 class="mb-3">{{hero.title}}</h1>
  <h3 class="mb-3">{{hero.content}}</h3>
  <h4 class="mb-3">{{hero.content1}}</h4>
  <a class="btn btn-primary" href="" role="button">Call to action</a>
</div> -->
<!-- Jumbotron -->