// Variables

$bgcolor: skyblue;
$width: 100%;
$height: 420px;
$textColor: #2F66A9;

// Functions

// Styles application

.hero{
    color: $textColor;
    height: $height;
    width: $width;
}

.img{
    width: 100%;
    height: $height;
}
